.header-container {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.header-title {
  color: white;
  font-family: 'Courier New' , 'Courier' , monospace;
  font-size: 7vw;
  margin: 0;
}

.header-subtitle {
  color: white;
  font-family: 'Courier New' , 'Courier' , monospace;
  font-size: 1vw;
  font-weight: 400;
  line-height: 3vh;
  text-align: center;
  width: 75vw;
}

.header-title::selection, .header-subtitle::selection {
  background-color: white;
  color: black;
}

.header-btn {
  background-color: white;
  border-style: none;
  color: black;
  font-family: 'Courier New' , 'Courier' , monospace;
  font-size: 0.85vw;
  font-weight: 800;
  height: 5vh;
  margin-top: 2vh;
  outline: none;
  transition: 0.2s;
  width: 7vw;
}

.header-btn:hover {
  background-color: black;
  border: 0.1rem solid white;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}
