.before-start-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Courier New", Courier, monospace;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10vh;
}

hr {
  margin: 5vh 0;
  margin-left: 20%;
  margin-right: 20%;
}

.heading {
  align-self: flex-start;
  font-size: 2vw;
}

.content {
  font-size: 1.25vw;
  line-height: 3.5vh;
  text-align: justify;
}

.heading::selection,
.content::selection,
a::selection,
b::selection,
i::selection {
  background-color: teal;
  color: white;
}

.content-img {
  box-shadow: 0 22px 20px rgb(0 0 0 / 10%);
  margin: 5vh 0;
  width: 35vw;
}
