.content-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Courier New", Courier, monospace;
  margin-left: 20%;
  margin-right: 20%;
  padding: 10vh 0 0;
}

.heading {
  align-self: flex-start;
  font-size: 2vw;
}

.content {
  font-size: 1.25vw;
  line-height: 3.5vh;
  text-align: justify;
}

.heading::selection,
.content::selection,
a::selection,
b::selection,
i::selection {
  background-color: teal;
  color: white;
}

.content-img {
  box-shadow: 0 22px 20px rgb(0 0 0 / 10%);
  margin: 5vh 0;
  transition: 0.2s;
  width: 35vw;
}

.content-img:hover {
  transition: 0.2s;
  width: 40vw;
}
