body {
  background-color: aliceblue;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  color: purple;
}

::-webkit-scrollbar {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: white;
}
